.match {
  border-bottom: 2px solid lightgrey;
  padding: 1rem;
}

.header {
  width: 100%;
  margin-bottom: 0.5rem;
}

.name,
.age {
  display: inline-block;
  margin-right: 1rem;
}

.name {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
}

.age {
  font-size: 1rem;
}

.bio {
  margin-bottom: 1rem;
  font-family: serif;
  white-space: pre-wrap;
}

.thumbnails {
  width: 100%;
  overflow: hidden;
}

.lightbox {
}

