.thumbnail {
  margin-right: 1rem;
  float: left;
  overflow: hidden;
  display: block;
}

.img {
  max-width: 5rem;
  max-height: 5rem;
  border-radius: 0.5rem;
}

.footer {
  font-size: 0.75rem;
  color: #CCC;
}

.selectRate,
.successRate {
  display: block;
}
